SampleProject/Connected Services/UserService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SampleProjectWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SampleProjectWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PerformanceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AverageScore" type="xs:decimal" />
      <xs:element minOccurs="0" name="Communication" type="xs:decimal" />
      <xs:element minOccurs="0" name="Consistency" type="xs:decimal" />
      <xs:element minOccurs="0" name="Feedback" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Initiative" type="xs:decimal" />
      <xs:element minOccurs="0" name="LearningAbility" type="xs:decimal" />
      <xs:element minOccurs="0" name="ManagerId" type="xs:int" />
      <xs:element minOccurs="0" name="ProblemSolving" type="xs:decimal" />
      <xs:element minOccurs="0" name="Productivity" type="xs:decimal" />
      <xs:element minOccurs="0" name="Punctuality" type="xs:decimal" />
      <xs:element minOccurs="0" name="QualityOfWork" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaskCompletion" type="xs:decimal" />
      <xs:element minOccurs="0" name="Teamwork" type="xs:decimal" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PerformanceModel" nillable="true" type="tns:PerformanceModel" />
  <xs:complexType name="ArrayOfPerformanceModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PerformanceModel" nillable="true" type="tns:PerformanceModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerformanceModel" nillable="true" type="tns:ArrayOfPerformanceModel" />
</xs:schema>