SampleProject/Connected Services/UserService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5052/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SampleProjectWCF" />
  <xs:element name="RateEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SampleProjectWCF" minOccurs="0" name="model" nillable="true" type="q1:PerformanceModel" />
        <xs:element minOccurs="0" name="managerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RateEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RateEmployeeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SampleProjectWCF" minOccurs="0" name="GetPerformanceHistoryResult" nillable="true" type="q2:ArrayOfPerformanceModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>